:root {
  --primary: #683ce7;
  --secondary: #382c6d;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card {
  margin: 4vh auto 0;
  width: 325px;
  height: 600px;
  perspective: 1000px;
}

#card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.is-flipped {
  transform: rotateY(-180deg);
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face--front {
  background-color: var(--primary);
  justify-content: center;
}

.top-line-1 {
  position: absolute;
  top: -10px;
  right: 30px;
  width: 8px;
  height: 90px;
  border-radius: 100px;
  z-index: 1;
  background-color: var(--primary);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.top-line-2 {
  position: absolute;
  top: -10px;
  right: 45px;
  width: 8px;
  height: 60px;
  border-radius: 100px;
  z-index: 1;
  background-color: var(--primary);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.card-face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card-face--back {
  background-color: var(--primary);
  transform: rotateY(-180deg);
}

.card-content {
  width: 100%;
  height: 100%;
}

/* .card-header-front {
  position: relative;
  padding: 10px 30px 40px;
} */

.card-header-front {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(header-bg.svg);
  background-position-y: -40px;
  background-size: cover;
  border-radius: 0px 0px 0% 0px;
  height: 230px;
  padding: 10px 30px 40px;
}

.card-header-back {
  position: relative;
  padding: 10px 30px 40px;
}
.card-header-back:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(header-bg.svg);
  background-position-y: -40px;
  background-size: cover;
  z-index: -1;
  height: 290px;
  border-radius: 0px 0px 0% 0px;
}

.pp {
  width: 170px;
  height: 170px;
  margin: 0px auto 0px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header-front h2 {
  color: var(--dark);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-header-front span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-header-back h2 {
  color: var(--dark);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-header-back span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-body1 {
  padding: 0px 30px 30px;
}

.card-body1 h3 {
  color: var(--light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-body2 .sp-bg {
  position: relative;
  top: -35px;
  left: 120px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.212);
  border: var(--secondary) solid 0.5px;
}

.card-body2 .imp-note {
  text-align: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(255, 255, 255);
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
 
  font-size: 15px;
  font-weight: 300;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 22px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 140px;
  margin-top: -65px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.card-body1 p {
  color: var(--light);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}

.card-body2 {
  padding: 0px 30px 30px;
}

.card-body2 h3 {
  margin-top: 10px;
  color: var(--light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-body2 .amount-pre {
  display: flex;
  position: fixed;
  color: var(--light);
  font-size: 18px;
  font-weight: 400;
  right: 30px;
  margin-top: -47px;
  background-color: var(--secondary);
  padding: 4px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 70px;
  height: 30px;
  border-radius: 8px;

}

input{
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  transition: .3s;
  height: 50px;
  background-color: var(--secondary);
  color: #FFF;
  font-size: 18px;
}

input:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  display: no;
}

.card-body2 .amount-pre::before {
  content: "₹ "; 
}

.pay-form input::before {
  content: "₹ "; 
}

::-webkit-input-placeholder { /* Edge */
  color: var(--primary);
}

:-ms-input-placeholder { /* Internet Explorer */
  color: var(--primary);
}

::placeholder {
  color: var(--primary);
  text-align: center;
}

#btn-front {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#btn-back {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card .actions {
  padding: 0 8px 0;
  display: flex;
  flex-direction: column;
  order: 99;
}

.actions .pay-btn button {
  margin-top: 10px;
  color: white;
  font: inherit;
  font-weight: bold;
  background-color: #32c75f;
  width: 100%;
  border: none;
  padding: 16px 16px 16px 16px;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.actions .pay-btn button:hover {
  color: white;
  background-color: var(--secondary);
  transform: scale(1.1);
}

.actions .pay-btn button:active {
  background-color: #32c75f;
  transform: scale(1);
}

/*
@media only screen and (min-width: 992px) {
  .card .actions {
    display: none;
  }
} */




