:root {
  --primary: #683ce7;
  --secondary: #382c6d;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card {
  margin: 4vh auto 0;
  width: 325px;
  height: 600px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(-180deg);
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face--front {
  background-color: var(--primary);
  justify-content: center;
}

.card-face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card-face--back {
  background-color: var(--primary);
  transform: rotateY(-180deg);
}

.card-content {
  width: 100%;
  height: 100%;
}

/* .card-header-front {
  position: relative;
  padding: 10px 30px 40px;
} */

.card-header-front {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(header-bg.svg);
  background-position-y: -40px;
  background-size: cover;
  border-radius: 0px 0px 0% 0px;
  height: 230px;
  padding: 10px 30px 40px;
}

.card-header-back {
  position: relative;
  padding: 10px 30px 40px;
}
.card-header-back:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(header-bg.svg);
  background-size: cover;
  z-index: -1;
  border-radius: 0px 0px 0% 0px;
  margin-top: -40px;
}

.pp {
  display: block;
  width: 170px;
  height: 170px;
  margin: -12px auto 0px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card-header-front h2 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-header-front span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-header-back h2 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-header-back span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-body1 {
  padding: 0px 30px 30px;
}

.card-body1 h3 {
  color: var(--light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-body1 p {
  color: var(--light);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}

.card-body2 {
  padding: 0px 30px 30px;
}

.card-body2 h3 {
  margin-top: 10px;
  color: var(--light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-body2 p {
  display: flex;
  position: fixed;
  color: var(--light);
  font-size: 18px;
  font-weight: 400;
  right: 30px;
  margin-top: -47px;
  background-color: var(--secondary);
  padding: 4px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 70px;
  height: 30px;
  border-radius: 8px;

}

input{
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 14px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  height: 50px;
  background-color: var(--secondary);
}

input:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
